@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@700&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/*
font-family: 'Delius Unicase', cursive;
*/

body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: black;
}

@keyframes glow_yellow {
    from {
        text-shadow: 0 0 10px #ff0, 0 0 20px #ff0, 0 0 30px #dd0, 0 0 40px #cc0, 0 0 50px #cc0;
    }

    to {
        text-shadow: 0 0 20px #ff0, 0 0 30px #ff0, 0 0 40px #ff0, 0 0 50px #ff0, 0 0 60px #ff0;
    }
}

@keyframes glow_pink {
    from {
        text-shadow: 0 0 10px #f0f, 0 0 20px #f0f, 0 0 30px #d0d, 0 0 40px #c0c, 0 0 50px #c0c;
    }

    to {
        text-shadow: 0 0 20px #f0f, 0 0 30px #f0f, 0 0 40px #f0f, 0 0 50px #f0f, 0 0 60px #f0f;
    }
}

@keyframes wobble {
    0% {
        transform: rotate(0deg);
    }

    33% {
        transform: rotate(-2deg);
    }

    66% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(2deg);
    }
}